<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>logger_endpoint</key>
    <string>https://logagent.infra.funplus.net/log</string>
    <key>logger_tag</key>
    <string>devops.rum.us</string>
    <key>logger_key</key>
    <string>d3b7c2e58b97b29faa637dc31af8feb6</string>
    <key>logger_level</key>
    <string>info</string>
    <key>rum_endpoint</key>
    <string>https://logagent.infra.funplus.net/log</string>
    <key>rum_tag</key>
    <string>devops.rum.us</string>
    <key>rum_key</key>
    <string>d3b7c2e58b97b29faa637dc31af8feb6</string>
    <key>data_endpoint</key>
    <string>https://logagent.infra.funplus.net/log</string>
    <key>data_tag</key>
    <string>snake.global.sandbox</string>
    <key>data_key</key>
    <string>de32dbb5b1198611e21af150a1a88b60</string>
    <key>adjust_enabled</key>
    <false/>
    <key>adjust_app_token</key>
    <string></string>
    <key>adjust_app_open_event_token</key>
    <string></string>
</dict>
</plist>
